@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
/* Estilos para pantallas de escritorio */
*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 1;
    background-color: #8bca2c;
    padding: 40px;
}

.container_menu{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.usuario_menu{
    color: white;
    font-size: 18px;
    margin-left: 40px;
    display: flex;
    justify-content: space-around;
}

.usuario_menu p{
    margin-left: 10px;
}

.logo{
    height: 100%;
    display: flex;
    align-items: center;
}

.logo h2{
    color:white;
}

.menu{
    display: flex;
    align-items: center;
}

.menu ul{
    display: flex;
}

.menu ul li{
    list-style: none;
    margin-left: 26px;
}

.menu ul li a{
    text-decoration: none;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
}
.menu nav img{
    display: none;
}
#btn_menu{
    display: none;
}

/*PORTADA*/

.container_portada{
    width: 100%;
    height: 720px;
}

.portada{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}

.Bienvenida{
    max-width: 400px;
    margin-left: 20px;
    margin-right: 100px;
}

.Bienvenida h1{
    font-size: 36px;
    font-weight: 600;
}

.Bienvenida p{
    font-size: 18px;
    margin-top: 40px;
}

.Bienvenida input{
    padding: 18px 50px;
    border: none;
    font-size: 16px;
    border-radius: 50px;
    margin-top: 30px;
    color:white;
    background: linear-gradient(to right, #8bca2c, greenyellow);
    cursor: pointer;
    box-shadow: 1px 1px 30px 4px #8bca2c;
    transition: all 300ms;
}

.container_portada .Bienvenida input:hover{
    box-shadow: 1px 1px 30px 8px #8bca2c;
}

.img img{
    width: 525px;
    animation: move-vector 4s linear infinite;
}

@keyframes move-vector {
    0%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(10px);
    }
}

.about_us{
    display: flex;
    justify-content: left;
    margin-left: 80px;
    margin-bottom: 150px;
}
.about_us .mision{
    max-width: 500px;
}
.about_us .vision{
    max-width: 600px;
}

.valores{
    display: flex;
    justify-content: center;
}

.valores ul li{
    list-style: none;
    margin-left: 25px;
}

footer{
    margin-top: 150px;
    padding: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #8bca2c;
}

.link_redes i{
    font-size: 25px;
    margin-left: 15px;
}
.contact{
    color: white;
}
.number_email{
    color: white;
}
.resennas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px;
}
.resennas h2{
    margin-bottom: 10px;
}
.resennas_{
    display: flex;
    justify-content: center;
}


/* Responsive */

@media screen and (max-width: 1200px) {
    .container_portada .img img{
        height: 500px;
    }
  }
@media screen and (max-width: 1200px) {
    header{
        padding: 30px;
        align-items: center;
    }
  }
@media screen and (max-width: 752px) {
    .menu nav{
        position: fixed;
        top: 0;
        right: -250px;
        background-color: white;
        width: 250px;
        height: 100vh;
        padding: 40px;
        z-index: 1;
        transition: all 300ms;
    }
    .menu ul{
        flex-direction: column;
        margin-top: 40px;
    }
    .menu ul li{
        margin-top: 39px;
        margin-left: 0;
    }
    .menu ul li a{
        color: #8bca2c;
    }
    .menu nav img{
        width: 60px;
        display: block;
    }
    #back_menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        display: none;
    }
    #btn_menu{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background: rgba(255, 255, 255, 0.45);
        font-size: 28px;
        border-radius: 50px;
        cursor: pointer;
        transition: .3s;
    }
    #btn_menu:hover{
        background: rgba(255, 255, 255, 0.6);
    }
}