@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
body{
    padding: auto;
    margin: auto;
}
footer{
    background-color: greenyellow;
}
footer h2{
    color: whitesmoke;
}
.menu{
    background-color: #64CE00;
    display: flex;
    justify-content: space-between;
}
.menu a{
    list-style: none;
    margin-right: 2px;
    padding: 18px;
    cursor: pointer;
}
.links{
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
}
.menu h2{
    margin-left:5px;
    margin-top: 12px;
    color: whitesmoke;
}
.menu a{
    color: whitesmoke;
    text-decoration: none;
}
.galeria_img{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 280px;
    padding: 5px;
}
main p{
    margin: 20px 0 20px 0;
}