@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
/* Estilos para pantallas de escritorio */
*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 1;
    background-color: #8bca2c;
}

.container_menu{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 100%;
    display: flex;
    align-items: center;
}

.logo h2{
    color:white;
}

.menu{
    display: flex;
    align-items: center;
}

.menu ul{
    display: flex;
}

.menu ul li{
    list-style: none;
    margin-left: 26px;
}

.menu ul li a{
    text-decoration: none;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
}

/*PORTADA*/

.container_portada{
    width: 100%;
    height: 720px;
}

.portada{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}

.container_portada .Bienvenida{
    max-width: 400px;
}

.container_portada .Bienvenida h1{
    font-size: 36px;
    font-weight: 600;
}

.container_portada .Bienvenida p{
    font-size: 18px;
    margin-top: 40px;
}

.container_portada .Bienvenida input{
    padding: 18px 50px;
    border: none;
    font-size: 16px;
    border-radius: 50px;
    margin-top: 30px;
    color:white;
    background: linear-gradient(to right, #8bca2c, greenyellow);
    cursor: pointer;
    box-shadow: 1px 1px 30px 4px #8bca2c;
}

.img img{
    width: 550px;
    display: flex;
}




/* Estilos para tabletas */
@media only screen and (min-width: 601px) and (max-width: 1024px) {

  }

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
    
  }