@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
/* Estilos para pantallas de escritorio */
*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    width: min-content;
}


/* Estilos para tabletas */
@media only screen and (min-width: 601px) and (max-width: 1024px) {

  }

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
    
  }